@editor-prefix-cls: lay-editor;
@primary-color: #1890ff;
@primary-color-light: #40a9ff;
@primary-color-tiny: #e6f7ff;

.clearfix {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}

.@{editor-prefix-cls} {
  &-wrapper {
    width: 100%;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    font-family: "Chinese Quote",-apple-system,BlinkMacSystemFont,"Segoe UI","PingFang SC","Hiragino Sans GB","Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-variant: tabular-nums;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    font-size: 1rem;
    line-height: 1.5;
    color: rgba(0,0,0,0.65);
    background-color: #fff;
    background-image: none;
    -webkit-transition: all .3s;
    transition: all .3s;

    & h1 {
      font-size: 2em;
      margin: 0.67em 0;
    }

    & blockquote {
      border-left: 5px solid #eee;
      color: #666;
      font-style: italic;
      margin: 16px 0;
      padding: 10px 20px;
      background-color: #fbfbfb;
    }

    & pre {
      background: #f1f1f1;
      border-radius: 3px;
      padding: 10px 10px;
      font-family: Inconsolata,Menlo,Consolas,monospace;
    }

    &-fs {
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 999;
      display: flex;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: column;
      -ms-flex-flow: column;
      flex-flow: column;
    }
  }

  &-scroll-disabled {
    overflow: hidden;
  }

  &-toolbar-wrapper {
    background: #f5f5f5;
    padding: 5px 10px;

    &:after {
      .clearfix
    }
  }

  &-tool-wrapper {
    display: inline;
    margin: 5px 0;
    border-left: 1px solid #e2e2e2;
  }

  &-content-wrapper {
    padding: 4px 11px;
    overflow: auto;
  }

  &-wrapper-fs &-content-wrapper {
    height: auto !important;
    flex: 1;
  }

  &-icon {
    display: inline-block;
    font-style: normal;
    vertical-align: -0.125em;
    text-align: center;
    text-transform: none;
    line-height: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

    & svg {
      display: inline-block;
      width: 1em;
      height: 1em;
      fill: currentcolor;
    }
  }

  &-tool-btn {
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;

    &:hover {
      background: #e6e6e6;
    }
  }

  &-tool-btn-active {
    color: @primary-color;
  }

  &-tool-btn-disabled {
    color: #ccc;

    &:hover {
      background: #f5f5f5;
    }
  }

  &-left-aligned-block {
    text-align: left;

    & > div {
      display: inline-block;
    }
  }

  &-center-aligned-block {
    text-align: center;

    & > div {
      display: inline-block;
    }
  }

  &-right-aligned-block {
    text-align: right;

    & > div {
      display: inline-block;
    }
  }

  &-justify-aligned-block {
    text-align: justify;

    & > div {
      display: inline-block;
    }
  }

  &-upload {
    position: relative;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    color: rgba(0,0,0,0.65);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    outline: 0;

    &-drag {
      border: 1px dashed #d9d9d9;
      -webkit-transition: border-color .3s;
      transition: border-color .3s;
      cursor: pointer;
      border-radius: 4px;
      text-align: center;
      position: relative;
      background: #fafafa;
      padding: 0;
      margin: 0;

      &:hover {
        border-color: @primary-color-light;
      }

      &-hover {
        border: 2px dashed @primary-color-light;
      }

      &-container {
        display: table-cell;
        vertical-align: middle;
      }

      &-icon {
        margin-bottom: 20px;

        & .lay-editor-icon {
          font-size: 48px;
          color: @primary-color-light;
        }
      }
    }

    &-progress {
      position: absolute;
      top: -1px;
      left: -1px;
      right: -1px;
      bottom: -1px;
      background: #fafafa;
      text-align: center;
      cursor: default;

      &-hint {
        font-weight: 700;
        padding-top: 150px;
        font-size: 14px;
        color: rgba(0,0,0,0.45);
      }

      &-wrapper {
        position:absolute;
        left: 50%;
        top: 50px;
        margin-left: -30px;
      }

      &-loading {
        position: absolute;
        left: 0;
        top: 0;
        width:60px;
        height:60px;
        background:@primary-color;
        border-radius:50%;
        animation: progress 1.5s infinite linear;

        &::after {
          position:absolute;
          width:80px;
          height:80px;
          border-top:10px solid @primary-color;
          border-bottom:10px solid @primary-color;
          border-left:10px solid transparent;
          border-right:10px solid transparent;
          border-radius:50px;
          content:'';
          top:-20px;
          left:-20px;
          animation: progress_after 1.5s infinite linear;
        }

        @keyframes progress {
          0% {transform: rotate(0deg);}
          50% {transform: rotate(180deg);background:@primary-color-light;}
          100% {transform: rotate(360deg);}
        }
        @keyframes progress_after {
          0% {border-top:10px solid @primary-color;border-bottom:10px solid @primary-color;}
          50% {border-top:10px solid @primary-color-light;border-bottom:10px solid @primary-color-light;}
          100% {border-top:10px solid @primary-color;border-bottom:10px solid @primary-color;}
        }
      }

      &-percent {
        position: absolute;
        left: 0;
        top: 15px;
        font-size: 18px;
        width: 60px;
        text-align: center;
        color: #fff;
      }
    }

    &-text {
      font-size: 16px;
      margin: 0 0 4px;
      color: rgba(0,0,0,0.85);
    }

    &-hint {
      font-size: 14px;
      color: rgba(0,0,0,0.45);
    }

    &-btn {
      display: table;
      height: 100%;
      width: 100%;
      outline: none;
      padding: 16px 0;
    }

    &-error {
      color: #f5222d;
    }
  }

  &-modal {
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    color: rgba(0,0,0,0.65);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    width: auto;
    margin: 0 auto;
    top: 100px;
    padding-bottom: 24px;

    &-mask {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: rgba(0,0,0,0.65);
      height: 100%;
      z-index: 1000;
      filter: alpha(opacity=50);

      &-hidden {
        display: none;
      }
    }

    &-close {
      cursor: pointer;
      border: 0;
      background: transparent;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 10;
      font-weight: 700;
      line-height: 1;
      text-decoration: none;
      -webkit-transition: color .3s;
      transition: color .3s;
      color: rgba(0,0,0,0.45);
      outline: 0;
      padding: 0;

      &-x {
        display: block;
        font-style: normal;
        vertical-align: baseline;
        text-align: center;
        text-transform: none;
        text-rendering: auto;
        width: 56px;
        height: 56px;
        line-height: 56px;
        font-size: 16px;
      }
    }

    &-title {
      margin: 0;
      font-size: 16px;
      line-height: 22px;
      font-weight: 500;
      color: rgba(0,0,0,0.85);
    }

    &-wrap {
      position: fixed;
      overflow: auto;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1000;
      -webkit-overflow-scrolling: touch;
      outline: 0;
    }

    &-content {
      position: relative;
      background-color: #fff;
      border: 0;
      border-radius: 4px;
      background-clip: padding-box;
      -webkit-box-shadow: 0 4px 12px rgba(0,0,0,0.15);
      box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    }

    &-header {
      padding: 16px 24px;
      border-radius: 4px 4px 0 0;
      background: #fff;
      color: rgba(0,0,0,0.65);
      border-bottom: 1px solid #e8e8e8;
    }

    &-body {
      padding: 24px;
      font-size: 14px;
      line-height: 1.5;
      word-wrap: break-word;
    }

    &-footer {
      border-top: 1px solid #e8e8e8;
      padding: 10px 16px;
      text-align: right;
      border-radius: 0 0 4px 4px;
    }

    & button+button{
      margin-left: 8px;
      margin-bottom: 0;
    }
  }

  &-button {
    line-height: 1.499;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 0 15px;
    font-size: 14px;
    border-radius: 4px;
    height: 32px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all .3s cubic-bezier(.645, .045, .355, 1);
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
    position: relative;
    -webkit-box-shadow: 0 2px 0 rgba(0,0,0,0.015);
    box-shadow: 0 2px 0 rgba(0,0,0,0.015);
    color: rgba(0,0,0,0.65);
    background-color: #fff;
    border-color: #d9d9d9;

    &:hover, &:focus {
      color: @primary-color-light;
      background-color: #fff;
      border-color: @primary-color-light;
    }

    &-primary {
      color: #fff;
      background-color: @primary-color;
      border-color: @primary-color;
      text-shadow: 0 -1px 0 rgba(0,0,0,0.12);
      -webkit-box-shadow: 0 2px 0 rgba(0,0,0,0.045);
      box-shadow: 0 2px 0 rgba(0,0,0,0.045);

      &:hover, &:focus {
        color: #fff;
        background-color: @primary-color-light;
        border-color: @primary-color-light;
      }
    }

    &[disabled] {
      color: rgba(0,0,0,0.25);
      background-color: #f5f5f5;
      border-color: #d9d9d9;
      text-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }

  &-form {
    &-item {
      font-size: 14px;
      font-variant: tabular-nums;
      line-height: 1.5;
      color: rgba(0,0,0,0.65);
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      list-style: none;
      vertical-align: top;
      padding-bottom: 8px;

      &-label {
        padding: 0 0 8px;
        margin: 0;
        display: block;
        text-align: left;
        line-height: 1.5;
        vertical-align: middle;
        font-size: 14px;
        color: rgba(0,0,0,0.85);
      }

      &-control {
        line-height: 1.5;
        position: relative;
        zoom: 1;
        padding: 0 2px;
      }
    }
  }

  &-input {
    font-variant: tabular-nums;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    display: inline-block;
    padding: 4px 11px;
    width: 100%;
    height: 32px;
    font-size: 14px;
    line-height: 1.5;
    color: rgba(0,0,0,0.65);
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    -webkit-transition: all .3s;
    transition: all .3s;

    &:hover {
      border-color: @primary-color-light;
      border-right-width: 1px !important;
    }

    &:focus {
      border-color: @primary-color-light;
      outline: 0;
      -webkit-box-shadow: 0 0 0 2px rgba(24,144,255,0.2);
      box-shadow: 0 0 0 2px rgba(24,144,255,0.2);
      border-right-width: 1px !important;
    }
  }

  textarea&-input {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
    -webkit-transition: all .3s,height 0s;
    transition: all .3s,height 0s;
    min-height: 32px;
  }

  &-image {
    &-alignment {
      position: relative;
      width: 100%;
      overflow: auto;
    }

    &-left {
      display: flex;
    }

    &-center {
      display: flex;
      justify-content: center;
    }

    &-right {
      display: flex;
      justify-content: flex-end;
    }

    &-wrapper {
      position: relative;
    }

    &-preview {
      width: 100%;
      position: relative;

      &-del {
        position: absolute;
        right: 0;
        top: 0;
        background-color: #fff;
        height: 25px;
        line-height: 25px;
        border-bottom-left-radius: 4px;
        border-right: 1px solid #e1e1e1;
        border-top: 1px solid #e1e1e1;
        color: #999;
        width: 20px;
        padding: 0 0 0 8px;
        cursor: pointer;
        transition: all 0.5s;
        -moz-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        overflow: hidden;

        &:hover {
          width: 80px;
          color: @primary-color-light;
        }
      }

      & img {
        max-width: 100%;
      }
    }
  }

  &-alignment-popup {
    position: absolute;
    left: 0;
    top: 0;
    background: #fff;
    padding: 10px 0;
    border-bottom-right-radius: 4px;
    border: 1px solid #e1e1e1;

    & span {
      padding: 0 15px;
      border-right: 1px solid #e1e1e1;
      cursor: pointer;

      &:last-child {
        border-right: none;
      }

      &:hover {
        color: @primary-color-light;
      }
    }

    &-active {
      color: @primary-color;

      &:hover {
        color: @primary-color !important;
      }
    }

    &-right {
      left: auto;
      right: 0;
    }
  }
}

.rc-tooltip {
  &-inner {
    min-height: 0;
  }

  .effect() {
    animation-duration: 0.15s;
    animation-fill-mode: both;
  }

  &&-fade-enter, &&-fade-leave {
    display: block;
  }

  &-fade-enter, &-fade-appear {
    opacity: 0;
    .effect();
    animation-timing-function: ease-in;
    animation-play-state: paused;
  }

  &-fade-leave {
    .effect();
    animation-timing-function: ease-out;
    animation-play-state: paused;
  }

  &-fade-enter&-fade-enter-active, &-fade-appear&-fade-appear-active {
    animation-name: rcToolTipFadeIn;
    animation-play-state: running;
  }

  &-fade-leave&-fade-leave-active {
    animation-name: rcToolTipFadeOut;
    animation-play-state: running;
  }

  @keyframes rcToolTipFadeIn {
    0% {
      opacity: 0;
      transform-origin: 50% 50%;
    }
    100% {
      opacity: 1;
      transform-origin: 50% 50%;
    }
  }
  @keyframes rcToolTipFadeOut {
    0% {
      opacity: 1;
      transform-origin: 50% 50%;
    }
    100% {
      opacity: 0;
      transform-origin: 50% 50%;
    }
  }
}

.rc-dropdown-menu {
  & > &-item {
    position: relative;
    display: block;
    width: 50px;
    padding: 5px 12px;
    line-height: 22px;
    font-weight: normal;
    color: rgba(0,0,0,0.65);
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
    font-size: 14px;
  }

  & > &-item:hover, & > &-item-active, & > &-item-selected {
    background-color: @primary-color-tiny;
  }

  & > &-item-selected:hover, & > &-item-active, & > &-item-selected {
    background-color: #fafafa;
    font-weight: 600;
    color: rgba(0,0,0,0.65);
  }

  & > &-item-selected:after {
    color: @primary-color;
  }
}

.rc-tabs-tab {
  &:hover {
    color: @primary-color-light;
  }

  &-active, &-active:hover {
    color: @primary-color;
  }
}

figure {
  margin: 0 !important;
}
